@import '../../scss/mixins';
@import '../../scss/variables';

$prefix: 'repository-section';

.#{$prefix}-wrapper {
  height: 100%;
  .#{$prefix}-cards {
    @include flex(column, stretch, space-between);
    height: 100%;
  }
}
