@import '../../scss/mixins';
@import '../../scss/variables';

.animated-menu-icon {
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  display: flex;
  width: 24px;
  height: 22px;
  // margin: 5px 5px 5px 15px;
  margin-left: -1px;
  position: relative;
  transition: 0.5s;
  left: 0;

  .animated-menu-row {
    width: 25px;
    height: 4px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 2px;
    transition: 0.5s;
    position: absolute;

    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 50%;
      margin-top: -2px;
    }
    &:nth-child(3) {
      bottom: 0;
    }
  }

  &.active {
    transition: 0.5s;
    // left: $navbar-content-width;
    > div {
      box-shadow: none;
    }
    div:nth-child(1) {
      transition: 0.5s;
      transform: rotateZ(45deg);
      top: 10px;
      background-color: #fff;
    }
    div:nth-child(2) {
      transition: 0.5s;
      transform: rotateZ(-45deg);
      background-color: #fff;
      top: 12px;
    }
    div:nth-child(3) {
      transition: 0.5s;
      opacity: 0;
      background-color: #fff;
    }
  }
}
