
$color-text-primary: rgba(255, 255, 255, 1);
$color-text-secondary: rgba(255, 255, 255, 0.8);

$color-background : #121212;

$color-primary : #BB86FC;
$color-secondary : #03Dac6;
$color-variant-primary : #3700b3;
$color-variant-secondary : #03Dac6;
$color-error : #cf6679;
