$color-text-primary: rgba(255, 255, 255, 1);
$color-text-secondary: rgba(255, 255, 255, 0.8);

$color-background: #121212;

$color-primary: #bb86fc;
$color-secondary: #03dac6;
$color-variant-primary: #3700b3;
$color-variant-secondary: #03dac6;
$color-error: #cf6679;

$global-prefix: '__g';
