@import '../../scss/mixins';
@import '../../scss/variables';

$prefix: $global-prefix + '_stat-card';

.#{$prefix}-header {
  p {
    display: flex;
    align-items: center;
    font-size: 18px;
    svg {
      margin-right: 10px;
      margin-top: -2px;
    }
  }
}
.#{$prefix}-wrapper {
  > p {
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
  }
}
